body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel{
    align-self: center;
    margin: 16px;
    /* color: aqua; */
    background-color: rgb(223, 81, 228);
    color: white;
    font-weight: 900;
}

#container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 1px solid gray;
}

.gridRow{
    display: flex;
    flex: 1 1 0;
}

.cell {
    display: flex;
    flex: 1 1 0;
    background-color: darkblue;
    border: 1px solid gray;
}

.hover {
    background-color: rgb(189, 43, 226);;
}
